In [52]:
import numpy as np
import pandas as pd

In [53]:
df = pd.read_csv('student_academic_performance.csv')

In [54]:
df.head()

,student_id,age,study_hours,attendance,previous_marks,extra_curricular,performance
0,S01,24.0,21.0,89.0,86.0,Yes,Pass
1,S02,23.0,11.0,96.0,92.0,Yes,Fail
2,S03,NaN,34.0,83.0,60.0,Yes,Pass
3,S04,24.0,25.0,88.0,77.0,Yes,Pass
4,S05,18.0,25.0,91.0,59.0,Yes,Pass

In [55]:
df.tail()

,student_id,age,study_hours,attendance,previous_marks,extra_curricular,performance
25,S01,24.0,21.0,89.0,86.0,Yes,Pass
26,S02,23.0,11.0,96.0,92.0,Yes,Fail
27,S03,NaN,34.0,83.0,60.0,Yes,Pass
28,S04,24.0,25.0,88.0,77.0,Yes,Pass
29,S05,18.0,25.0,91.0,59.0,Yes,Pass

In [56]:
df.shape

(30, 7)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        30 non-null     object
 1   age               28 non-null     float64
 2   study_hours       29 non-null     float64
 3   attendance        28 non-null     float64
 4   previous_marks    28 non-null     float64
 5   extra_curricular  29 non-null     object
 6   performance       30 non-null     object
dtypes: float64(4), object(3)
memory usage: 1.8+ KB

In [58]:
df.describe()

             age  study_hours  attendance  previous_marks
count  28.000000    29.000000   28.000000       28.000000
mean   21.178571    24.275862   87.571429       72.678571
std     2.161165     8.421472    7.680801       11.882304
min    18.000000    11.000000   71.000000       52.000000
25%    19.000000    16.000000   83.000000       63.750000
50%    21.000000    25.000000   89.500000       72.000000
75%    23.000000    32.000000   93.000000       79.000000
max    24.000000    39.000000   99.000000       94.000000

In [59]:
df.duplicated().sum()

5

In [60]:
df.isnull().sum()

student_id          0
age                 2
study_hours         1
attendance          2
previous_marks      2
extra_curricular    1
performance         0
dtype: int64

In [61]:
new_df=df.drop_duplicates()

In [62]:
new_df.shape

(25, 7)

In [63]:
new_df['age'].fillna(value=new_df['age'].mean(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/531098128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['age'].fillna(value=new_df['age'].mean(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/531098128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['age'].fillna(value=new_df['age'].mean(), inplace=True)

In [64]:
new_df['attendance'].fillna(value=new_df['attendance'].mean(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2209300081.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['attendance'].fillna(value=new_df['attendance'].mean(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2209300081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['attendance'].fillna(value=new_df['attendance'].mean(), inplace=True)

In [65]:
new_df['study_hours'].fillna(value=new_df['study_hours'].mean(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2978648263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['study_hours'].fillna(value=new_df['study_hours'].mean(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2978648263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['study_hours'].fillna(value=new_df['study_hours'].mean(), inplace=True)

In [66]:
new_df['previous_marks'].fillna(value=new_df['previous_marks'].mean(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2261252655.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['previous_marks'].fillna(value=new_df['previous_marks'].mean(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/2261252655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['previous_marks'].fillna(value=new_df['previous_marks'].mean(), inplace=True)

In [67]:
new_df['extra_curricular'].fillna(value=new_df['extra_curricular'].mode(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/1833217642.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['extra_curricular'].fillna(value=new_df['extra_curricular'].mode(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/1833217642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['extra_curricular'].fillna(value=new_df['extra_curricular'].mode(), inplace=True)

In [68]:
new_df['performance'].fillna(value=new_df['performance'].mode(), inplace=True)

/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/3589851332.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['performance'].fillna(value=new_df['performance'].mode(), inplace=True)
/var/folders/kp/fgs9sll91rx2b_jlb118392m0000gn/T/ipykernel_61702/3589851332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['performance'].fillna(value=new_df['performance'].mode(), inplace=True)

In [69]:
new_df

,student_id,age,study_hours,attendance,previous_marks,extra_curricular,performance
0,S01,24.0,21.0,89.000000,86.000000,Yes,Pass
1,S02,23.0,11.0,96.000000,92.000000,Yes,Fail
2,S03,21.0,34.0,83.000000,60.000000,Yes,Pass
3,S04,24.0,25.0,88.000000,77.000000,Yes,Pass
4,S05,18.0,25.0,91.000000,59.000000,Yes,Pass
5,S06,22.0,24.5,76.000000,72.000000,No,Pass
6,S07,21.0,27.0,81.000000,52.000000,Yes,Pass
7,S08,21.0,37.0,71.000000,66.000000,No,Pass
8,S09,18.0,32.0,87.173913,78.000000,No,Fail
9,S10,19.0,33.0,87.000000,75.000000,No,Fail
10,S11,23.0,15.0,99.000000,72.217391,No,Pass
11,S12,19.0,32.0,96.000000,70.000000,Yes,Pass
12,S13,22.0,23.0,93.000000,66.000000,No,Fail
13,S14,19.0,33.0,93.000000,82.000000,Yes,Pass
14,S15,21.0,14.0,90.000000,64.000000,No,Fail
15,S16,19.0,13.0,87.000000,93.000000,NaN,Pass
16,S17,24.0,18.0,72.000000,63.000000,No,Fail
17,S18,23.0,31.0,90.000000,94.000000,No,Fail
18,S19,22.0,30.0,74.000000,66.000000,No,Fail
19,S20,20.0,23.0,78.000000,66.000000,Yes,Pass
20,S21,20.0,16.0,87.173913,59.000000,Yes,Fail
21,S22,20.0,13.0,90.000000,72.000000,Yes,Pass
22,S23,24.0,14.0,95.000000,72.217391,Yes,Pass
23,S24,19.0,29.0,90.000000,77.000000,Yes,Pass
24,S25,19.0,39.0,96.000000,72.000000,No,Fail

In [70]:
new_df.duplicated().sum()

0

In [71]:
new_df.isnull().sum()

student_id          0
age                 0
study_hours         0
attendance          0
previous_marks      0
extra_curricular    1
performance         0
dtype: int64